<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<!-- 匹配进程主 Bundle: 桌面/锁屏状态栏由 SpringBoard 进程显示 -->
			<string>com.apple.springboard</string>
		</array>
	</dict>
</dict>
</plist>
