<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>items</key><array><dict><key>cell</key><string>PSGroupCell</string><key>label</key><string>当前白名单</string></dict><dict><key>cell</key><string>PSStaticTextCell</string><key>label</key><string>白名单应用</string><key>footerText</key><string>请在插件原有设置中管理需要保留的应用。</string></dict></array><key>title</key><string>锁屏清理白名单</string></dict></plist>
